@font-face {
    font-family: Roboto;
    src: url(./assets/RobotoLight.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Roboto;
    src: url(./assets/RobotoRegular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Roboto;
    src: url(./assets/RobotoMedium.ttf);
    font-weight:500 ;
}
@font-face {
    font-family: Roboto;
    src: url(./assets/RobotoBold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Roboto;
    src: url(./assets/RobotoBlack.ttf);
    font-weight: 900;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        font-family: Roboto, sans-serif ;
    }
    h1{
        @apply text-3xl lg:text-4xl;
    }
    h2{
        @apply text-2xl lg:text-3xl;
    }
    h3{
        @apply text-xl lg:text-2xl;
    }
    h4{
        @apply text-lg lg:text-xl;
    }
    span{
        @apply text-base lg:text-lg
    }
    body{
        @apply bg-black-2 font-normal;
    }
    input{
        @apply bg-transparent py-1 px-3 placeholder:text-xs lg:placeholder:text-sm outline-none; 
    }
}

@layer components{
    .flex-all{
        @apply flex items-center justify-center
    }
    .flex-col-all{
        @apply flex flex-col items-center justify-center
    }
    .mx-container{
        @apply mx-auto container;
    }
    .size-full{
        @apply w-full h-full;
    }
}
.v-enter-active,
.v-leave-active {
  transition: opacity 0.4s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}